
{{> nav_reg_log}}
<link rel="stylesheet" href="/public/css/style.css" />

<style>
  
</style>
<div class="content">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/c5wXFxiLabI" frameborder="0" allowfullscreen></iframe>
                </div>
            <div class="col-lg-6">
                <h1 class="text" style="font-weight: bold !important;">What it does</h1>
                <p class="paragraph" style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium, hic consectetur vitae tenetur adipisci amet impedit iusto recusandae rem eum atque! Aliquid quas inventore, aspernatur modi totam sint iusto.</p>
                <p class="paragraph" style="margin-top:10px;">Lorem ipsum</p>
                <p class="paragraph" style="margin-top:10px;">Lorem ipsum</p>
                <div style="margin-top: 20px;">
                    <a href="https://example.com/discover-more" class="btnLink">Discover More</a>
                    <a href="https://example.com/get-started" class="btnLink" style="margin-left: 50px;">Get Started</a>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    <p style="padding: 0; margin-top:0; margin-bottom:0;">test</p>
    <p style="padding: 0; margin-top:0; margin-bottom:0;">test</p>
</div>